





          /*               CSS for My Writings et all              */









.stories-list {
  display: inline-block;
  margin-right: -110px;
  min-width: 33%;
  max-width: 45%;
  max-height: 100px;
}

.story {
  align-items: center;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 35px;
  word-wrap: break-word;
  min-height: 50px;

}

.story:hover {
  position: relative;
  animation: mymove .15s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

@keyframes mymove {
  from {top: 0px;}
  to {top: -4px;}
}


.story-title {
  padding: 15px;
  text-align: center;
  margin-top: 10px;
  font-size: 1.3em;
  font-weight: 400;
  font-family: 'Helvetica Neue', Helvetica ,Arial , sans-serif;
  color: black;
}

#my-story {
  text-align: center
}

#my-writings {
  text-align: left;
  font-size: 3em;
  font-weight: 500;
  font-family: 'Helvetica Neue', Helvetica ,Arial , sans-serif;
  color: black;
}

.date {
  text-align: center;
  font-weight: 500;
  font-size: .55em;
  color: #7f919e;
  font-family: 'Helvetica Neue', Helvetica ,Arial , sans-serif;
  padding: 10px;
}








            /*               CSS for Past Prompts et all                */






.prompt-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 99%;
  height: auto;
  padding: 0;
  border: 0;
  margin-bottom: 30px;
  margin-top: 30px;
  word-wrap: break-word;
  background-color: white;
  overflow: scroll;
}

.prompt {
  font-family: 'Helvetica Neue', Helvetica ,Arial , sans-serif;
  color: #262626;
  text-decoration: none;
  padding: 15px;
}

.prompt:hover {
  color: #336699;
  transition: color .2s ease ;
}

#all_prompts {
  padding-left: 8px;
  text-align: left;
  text-decoration: none;
  font-size: 3em;
  font-weight: 500;
  font-family: 'Helvetica Neue', Helvetica ,Arial , sans-serif;
  color: black;
}










          /*               CSS for Writing et all                */











.back-button-container {
  margin-top: 25px;
}


.back-button {
  color:  #538cc6;
  text-decoration: none;
  font-family: 'Helvetica Neue', Helvetica ,Arial , sans-serif;
  font-size: 1.3em;
  font-weight: 200;
}

.prompt-container{
  width: 99%;
}

#user-story {
  text-align: center;
  font-size: 2.3em;
}

.author {
  text-decoration: none;
  margin-top: -20px;
  text-align: center;
  font-weight: 500;
  font-size: 1.1em;
  color: #7f919e;
  font-family: 'Helvetica Neue', Helvetica ,Arial , sans-serif;
  padding: 15px;
}

.author-username {
  color: #7f919e;
  font-family: 'Helvetica Neue', Helvetica ,Arial , sans-serif;
  font-size: 1.3em;
  font-weight: 400;
  text-decoration: none;
}

#writings-author {
  color: #2e2e2e;
  font-family: 'Helvetica Neue', Helvetica ,Arial , sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  text-decoration: none;
  margin-right: 20px;
  margin-left: -13px;
}

.written-by {
  text-align: center;
  margin-top: -40px;
  margin-right: 10px;
  margin-bottom: -0.1px;
  color: #7f919e;
  font-family: 'Helvetica Neue', Helvetica ,Arial , sans-serif;
  font-size: .7em;
  font-weight: 400;
  text-decoration: none;
}

#writings-author:hover {
  font-weight: 400;
  color: #1a1a1a;
  border-bottom: solid 1.8px black;
}

.writing-date {
  text-align: center;
  font-weight: 500;
  font-size: .7em;
  color: #7f919e;
  font-family: 'Helvetica Neue', Helvetica ,Arial , sans-serif;
  margin: 5px;
  padding-bottom: 5px;
}


.story-text {
  font-size: 1.1em;
  max-height: 600px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  width: 100%;
  text-align: left;

}

.vote-button {
  background-color: white;
  border: 2px solid #336699;
  color:  #336699;
  text-decoration: none;
  font-family: 'Helvetica Neue', Helvetica ,Arial , sans-serif;
  font-size: 1.3em;
  font-weight: 400;
}

.vote-star {
  color: yellow;
}

.comment {
  font-size: 1.5em;
  font-weight: 400;
  font-family: 'Helvetica Neue', Helvetica ,Arial , sans-serif;
  color: black;
}

.input-comment {
  width: 50%;
  height: auto;
  font-size: 1em;
  font-weight: 400;
  font-family: 'Helvetica Neue', Helvetica ,Arial , sans-serif;
  margin-bottom: 10px;
}

.submit-comment {
  text-decoration: none;
  font-size: 1em;
  font-family: 'Helvetica Neue', Helvetica ,Arial , sans-serif;
  font-weight: 200;
  background-color: #336699;
  padding: 10px 20px;
  color: white;
  margin-bottom: 15px;
  border-style: none;
}

.submit-comment:hover {
  background-color: #4080bf;
}

.comment-container {
  word-wrap: break-word;
  width: 50%;
  height: auto;
}

.comment-container:nth-child(2n) {
background-color: #e6e6e6;
}

.commenter {
  font-weight: 500;
  font-size: 1em;
  color: black;
  font-family: 'Helvetica Neue', Helvetica ,Arial , sans-serif;
  padding: 15px;
  margin-bottom: -25px;
}

.input-comment {
  border-color: #bfbfbf;
}

.comment-text {
  border-color: #bfbfbf;
  font-weight: 500;
  font-size: .85em;
  color: #404040;
  font-family: Arial , sans-serif;
  padding: 10px;
  margin-bottom: -15px;
}





          /*            CSS for Writings html                     */








.story {
  display: block;
  word-wrap: break-word;
  max-width: 40%;
  overflow: scroll;
  max-height: 250px;
}

.info-container {
  word-wrap: break-word;
}

.writings-for-title {
  margin-top: 30px;
  font-size: 2.5em;
  font-weight: 400;
  font-family: 'Helvetica Neue', Helvetica ,Arial , sans-serif;
  color: black;
  margin-bottom: -10px;
}
