<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href='stylesheets/home.css'>
    <meta charset="utf-8">
    <title>About the Site</title>
  </head>

  <body>
    <div class="background">

      <div class="main-content">

        <div class="top-menu">
          <div>
            <div class="menu-item"> <a href="/home"><p id="website-title"> &#9998; Just Write  </p> </a> </div>
            <div class="menu-item"> <a href="/home"> <p class="top-selector"> Home </p></a> </div>
            <div class="menu-item"> <a href="/past_prompts"> <p class="top-selector"> Past Prompts</p> </a> </div>
            <div class="menu-item"> <a href="/my_writings"> <p class="top-selector"> My Writings</p> </a> </div>
          </div>

          <div id="about" class="dropdown">
            <button class="dropbuttton" id="about_button"> About &#9662; </button>
            <div class="dropdown-content" id="about_dropdown">
              <a href="/about_site"> Site </a>
              <a href="/about_developers"> Developers </a>
            </div>
          </div>

          <div class="dropdown" id="account_container">
            <button class="dropbuttton" id="account_button"> My Account </button>
            <div class="dropdown-content" id="account_drop">
              <a href="">Currently logged in as {{username}}</a>
              <a href="{{logout_url}}"> Logout </a>
            </div>
          </div>

        </div>

        <h1>About the Site</h1>

        <p>By providing a daily prompt for users to respond to, Just Write
        encourages constant innovation and imagination, inspiring users to
        write about topics they had previously never considered. </p>

        <h3>Create:</h3>
        <p>On the create page, you can respond to the prompt of the day by
        writing a story of your own. The practice of responding daily to a
        prompt allows you to exercise your creative cerebral while developing
        your writing skills. On the individual writing pages, you can comment
        on the writings of other users, offering positive feedback or
        constructive criticism to help further the creative process all while
        building a literary network.</p>

        <h3>Explore:</h3>
        <p>By navigating to the “All Prompts” page using the menu bar at the
        top of each page, you can view an archive of all existing prompts.
        Clicking on a prompt directs you to a page listing all of the writings
        applicable to the prompt, and clicking on a writing allows you to view
        the entire writing and offer comments to the author.

        <br>You can also explore other creative approaches to the same or
        previous prompts by navigating and reading through other authors’
        stories by clicking on the name of the author. These features allow
        you to connect with other users across the globe.  </p>

        <h3>Vote:</h3>
        <p>The vote feature allows you to vote daily for the writings
        applicable to the prompt of the day that you find particularly
        imaginative, profound, emotion-inducing, or just all around good.
        You may vote only once for each writing, but can vote for many writings
        each day. The writing that receives the most votes by the end of the
        day is then featured on the home page the following day. </p>

        <h2>Just Write what’s just right for you!</h2>

  </body>
</html>
