<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href='stylesheets/home.css'>
    <link rel="stylesheet" href='stylesheets/create.css'>
    <meta charset="utf-8">
    <title>User Home</title>
  </head>

  <body>
    <div class="background">

      <div class="main-content">

        <div class="top-menu">
          <div>
            <div class="menu-item"> <a href="/home"><p id="website-title"> &#9998; Just Write  </p> </a> </div>
            <div class="menu-item"> <a href="/home"> <p class="top-selector"> Home </p></a> </div>
            <div class="menu-item"> <a href="/past_prompts"> <p class="top-selector"> All Prompts</p> </a> </div>
            <div class="menu-item"> <a href="/my_writings"> <p class="top-selector"> My Writings</p> </a> </div>
          </div>

          <div id="about" class="dropdown">
            <button class="dropbuttton" id="about_button"> About &#9662; </button>
            <div class="dropdown-content" id="about_dropdown">
              <a href="/about_site"> Site </a>
              <a href="/about_developers"> Developers </a>
            </div>
          </div>

          <div class="dropdown" id="account_container">
            <button class="dropbuttton" id="account_button"> My Account </button>
            <div class="dropdown-content" id="account_drop">
              <a href="{{logout_url}}"> Logout </a>
              <a href=""> Settings </a>
            </div>
          </div>

      </div>

            <h1 class="respond">Respond to Prompt:</h1>
            <h3 class="prompt-title">{{promptTitle}}</h3>
            <p class="prompt-text">{{promptText}}</p>

            <div class="rules-container">
              <ul> <span class="title-rules">Rules:</span>
                <li class="rules">No plagiarism!</li>
                <li class="rules">Give your full effort</li>
                <li class="rules">Constructive criticism only</li>
                <li class="rules">Use common sense</li>
              </ul>
            </div>

            <form class="create" action="/create" method="post">
              <input name="title" placeholder="Title"><br>
              <textarea name="text" placeholder="Write here"></textarea><br>
              <button>Submit</button>
            </form>

    </div>
  </div>


  </body>
</html>
