<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta charset="utf-8">
    <title>Create Writing</title>
  </head>

  <body>

    <h1>Respond to Prompt</h1>
    <h3>{{promptTitle}}</h3>
    <p>{{promptText}}</p>

    <div>
      <ul>
        <li>No plagiarism!</li>
        <li>Give your full effort</li>
        <li>Constructive criticism only</li>
        <li>Use common sense</li>
      </ul>
    </div>

    <form action="/home" method="post">
      <input name="title" placeholder="Title"><br>
      <textarea name="text" placeholder="Write here"></textarea><br>
      <button>Submit</button>
    </form>

  </body>
</html>
