<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta charset="utf-8">
    <title>User Home</title>
  </head>

  <body>
    <a href="/home">Home</a>
    <a href="/past_writings">Past Writings</a>
    <a href="/my_writings">My Writings</a>
    <a href="{{logout_url}}">Log-Out</a>

    <h1>Prompt of the Day</h1>
    <h3>{{promptTitle}}</h3>
    <p>{{promptText}}</p>

    <a href="/create">Submit your own response</a>


  <h3><a href="/past_writings?key={{promptKey}}">Other user's writings for this prompt</a></h3>
  #CHANGE THIS LINK to archive of recent post

  </body>
</html>
