<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <meta charset="utf-8">
    <title> Main </title>
  </head>
    <body>
      <div class="main-container">

          <h1 class="title"> &#9998; Just Write </h1>
          <div class="description-container">
            <p class="description"> Write and share stories. </p>
          </div>

          <div class="login-container">
            <a href="/user" class="sign-in"> Sign in &#10095; </a>
          </div>

      </div>

    </body>
</html>
