<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta charset="utf-8">
    <title>Past Writings</title>
  </head>

  <body>

    <h1>Writings For:</h1>
    <h2>{{prompt.title}}</h2>
    <p><em>{{prompt.text}}</em></p>

    {% for writing in writings %}
    <div>
      <h2>
        <a href="{{writing.url()}}">{{writing.title}}</a>
      </h2>
      <p class="date">Posted on {{writing.date}}</p>
      <p>Written by {{writing.user_key.get().name}}</p>
    </div>
    {% endfor %}

  </body>
</html>
